<div class="jumbotron text-center">
    <h1>Copy Everything</h1>

    <br/><br/>

    Your clipboard is automatically being synced. {{test}}
    <div class="form-horizontal form-group form-group-lg row">
      <div class="col-xs-12">
      	<div class="panel panel-default">
	<div class="panel-heading">History</div>
   	<table class="table text-center">
	<thead><tr> <th class="text-center">#</th> <th class="text-center">Type</th> <th class="text-center">Contents</th> </tr></thead>
	 {{#each cp_content as |item index|}}
	 <tr><th class="text-center">{{index}}</th><td class="text-center">{{item.type}}</td><td class="text-center">{{format-clipboard item.content}}</td></tr>
	{{else}}
	<div>
	You have no clipboard data yet, start copying! :)
	</div>

	{{/each}}
	</table>
	</div>
      </div>
    </div>
</div>
